<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.salton123.soulove.biz_record">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:label="${app_name}"
        android:largeHeap="true"
        android:allowAudioPlaybackCapture="true"
        android:theme="@style/EmuiAppTheme"
        android:icon="${app_icon}"
        tools:replace="android:theme,android:label,android:icon">
        <activity
            android:name="com.salton123.soulove.splash.SplashActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/EmuiAppThemeSplash"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.salton123.biz_record.ui.RecordPage"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation|screenSize"
            android:theme="@style/EmuiAppTheme"
            tools:targetApi="n">
        </activity>
        <service
            android:name="net.yrom.screenrecorder.RecordService"
            android:foregroundServiceType="mediaProjection" />
        <activity android:name="com.salton123.biz_record.ui.SettingPage" />
    </application>


</manifest>
